Xcursor.theme: Adwaita
Xcursor.size: 24
URxvt.background: #000000
URxvt.foreground: #ffffff
URxvt.font: xft:monospace:size=11
URxvt.boldFont: xft:monospace:bold:size=11
URxvt.scrollBar: false
URxvt.iso14755: false
URxvt.iso14755_52: false
URxvt.keysym.Shift-Control-V: eval:paste_clipboard
URxvt.keysym.Shift-Control-C: eval:selection_to_clipboard

